// Global reset
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  box-sizing: border-box;

  @media only screen and(max-width: $media-1100px) {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: $gray-dark;
  background-image: linear-gradient(to right bottom, $blue-light, $blue);
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}