.container {
  width: 90%;
  margin: 8rem auto;
  background-color: $gray-light;
  box-shadow: $bxsh-large;

  min-height: 50rem;
}

.header {
  height: 7rem;
  background-color: $white;
  border-bottom: $bd-line;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: $blue-dark;

  flex: 0 0 18%; // Grow, shrink, bases

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel {
  background-color: $white;
  // height: 70rem; // for testing
  flex: 1;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: $gray-light2;
  border-bottom: $bd-line;
}

.description {
  background-color: $white;
  box-shadow: $bxsh-small;
  flex: 0 0 60%;
  padding: 3rem;
  margin-right: 4.5rem;
}

.user-reviews {
  background-color: orangered;
  flex: 1;
}