.container {
  width: 90%;
  margin: 8rem auto;
  background-color: $gray-light;
  box-shadow: $bxsh-large;

  min-height: 50rem;
}

.header {
  height: 7rem;
  color: $white;
  background-color: $gray-light1;
}

.content {
  display: flex;
}

.sidebar {
  background-color: $blue-dark;

  flex: 0 0 18%; // Grow, shrink, bases
}

.hotel {
  background-color: $white;
  flex: 1;
}