// Page Layout Colors
$blue: #2a0c99;
$blue-light: #3612ff;
$blue-dark:  #0c032e;

$orange: #ffa32b;
$orange-dark: #eb6e08;

$green-light: #23cc29;
$green-dark: #05b30a;

// Gray Colors
$gray: #cccccc;
$gray-medium: #807880;
$gray-dark: #5e5e5e;
$gray-light: #dfdfdf;
$gray-light1: #ececec;
$gray-light2: #fcfcfc;


// Black & White
$black: #000000;
$white: #ffffff;

// Box Shadow
$bxsh-large: 0 2rem 6rem rgba($black, .3);
$bxsh-medium: 0 1rem 3rem rgba($black, .3);
$bxsh-small: 0 2rem 5rem rgba($black, .08);

// Border line
$bd-line: 1px solid $gray-light1;